<div class="modal-app">
    <div class="row">

        <div class="col-md-6 preview" data-dismiss="modal">
            <div style="position: relative; margin: 10px;">
                <div class="wireframe"></div>
                <div class="screen" style="background-image: url(<%= sc.detail_img.url(:app) %>);"></div>
                <img src="<%= asset_path "iphone.png", type: :image %>" style="visibility: hidden;">
            </div>
        </div>

        <div class="col-md-6 infos">
            <div class="center-verticaly">
                <p class="title" data-dismiss="modal"><%= sc.title %></p>
                <p class="subtitle" data-dismiss="modal"><%= sc.subtitle %></p>
                <p class="description" data-dismiss="modal"><%= sc.description %></p>
                <p class="link">
                <% if not sc.link.nil? and sc.link.length > 5 %>
                    <a href="<%= sc.link %>" type="button" class="apple-store-btn">
                        <img src="<%= asset_path "app_market/apple.png", type: :image %>" alt="apple store download" width="150" />
                    </a>
                <% end %>
                <% if not sc.link2.nil? and sc.link2.length > 5 %>
                    <a href="<%= sc.link2 %>" type="button" class="android-market-btn">
                        <img src="<%= asset_path "app_market/android.png", type: :image %>" alt="android market download" width="145" />
                    </a>
                <% end %>
                </p>
            </div>
        </div>

    </div>
</div>