
<div id="contact" class="section footer-padding">
  <div class="container no-bottom">
    <div class="content">
      <div class="text-center">
        <h2 class="title">联系我们</h2>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-12"></div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <p class="description">
            </p>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12"></div>
      </div>
    </div>
  </div>
  <div id="map-canvas"></div>
  <div class="container no-pad">
    <div class="content">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <p class="icon-description">
            <span class="icon-wrapper">
              <span class="circle"><i class="ion-location"></i></span>
            </span>
            北京市海淀区静淑苑2号清华科技园-创业广场601A
          </p>
          <p class="icon-description">
            <span class="icon-wrapper">
              <span class="circle"><i class="ion-ios7-telephone"></i></span>
            </span>
            010-8236-3288
          </p>
          <p class="icon-description">
            <span class="icon-wrapper">
              <span class="circle"><i class="ion-ios7-email"></i></span>
            </span>
             contact@itsium.cn
          </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <p class="description">
          请使用下方表格与我们联系，您可以写下您的建议或服务需求，我们会尽快与您联系。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2>请您留言</h2>

    <div class="content" id="mailform">
      <form role="form" method="post" action="<%= contact_mail_url %>">
        <div class="form-group">
          <label for="exampleInputName"><i class="icon-tag"></i></label>
          <input name="name" type="text" class="form-control" id="exampleInputName" placeholder="姓名" required>
          <div class="clearfix"></div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1"><i class="icon-inbox"></i></label>
          <input name="mail" type="email" class="form-control" id="exampleInputEmail1" placeholder="电子信箱" required>
          <div class="clearfix"></div>
        </div>
        <div class="form-group textarea">
          <label for="exampleInputMessage"><i class="icon-pencil"></i></label>
          <textarea name="body" rows="6" class="form-control" id="exampleInputMessage" placeholder="您的留言" required></textarea>
          <div class="clearfix"></div>
        </div>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <button type="submit" class="btn color">发送留言</button>
      </form>
    </div>
  </div>
</div><!-- /.container -->
