
<div id="footer" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <p><a href="http://www.miitbeian.gov.cn/">京ICP备13043450</a> &copy; 2014, Made by <a href="#">Itsium Inc.</a>  <script type="text/javascript">
  var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cspan id='cnzz_stat_icon_1252946212'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1252946212' type='text/javascript'%3E%3C/script%3E"));
  </script> </p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="">
        <p class="social-media">
          <a href="http://www.weibo.com/ITSIUM" target="_black" data-toggle="tooltip" title="weibo"><i class="fa fa-weibo"></i></a>
          <a href="#" data-toggle="tooltip" title="renren"><i class="fa fa-renren"></i></a>
          <a href="#" data-toggle="tooltip" title="applestore"><i class="fa fa-apple"></i></a>
          <a href="#" data-toggle="tooltip" title="androidmarcket"><i class="fa fa-android"></i></a>
          <a href="http://www.pinterest.com/itsium/" data-toggle="tooltip" title="pinterest"><i class="fa fa-pinterest"></i></a>
        </p>
     </div>
    </div>
  </div>
</div>
