   <!-- Home Section -->
<div id="home" class="section macbook">
  <div class="parallax main-background"><%= image_tag "deep-blue3.jpg" %></div>
  <div class="row">
    <div class="col-md-1 col-sm-1 col-xs-12 empty"></div>
    <div class="col-md-10 col-sm-10 col-xs-12 full">
      <div class="logo"><%= image_tag "logo.png" %></div>
      <h1 class="welcome">
         意得捷优<br/><span>跨平台移动技术开发与策略咨询</span>
      </h1>
      <div class="macbook-preview">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <%= image_tag "macbookAir.png", class: "outline" %>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <% @showcases.each_with_index do | sc, i | %>
              <div class="item <%= "active" if i == 0 %>">
                <%= image_tag sc.fontimg.url(:original), class: "shot" %>
              </div>
            <% end -%>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>

    </div>
    <div class="col-md-1 col-sm-1 col-xs-12 empty"></div>
  </div>
</div><!-- /.container -->