<div id="navbar" class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand scroll" href="#home"><%= image_tag "logo2.png" %></i><span>    ITSIUM</span></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class="scroll" href="#services">初识ITSIUM</a></li>
            <li><a class="scroll" href="#clients">合作伙伴</a></li>
            <li><a class="scroll" href="#portfolio">实例展示</a></li>
            <li><a class="scroll" href="#team">公司团队</a></li>
            <li><a class="scroll" href="#contact">联系我们</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>