<div class="modals">

  <div class="modal fade" id="modal_service_1" tabindex="-1" data-dismiss="modal" role="dialog">
    <div class="modal-dialog" data-dismiss="modal">
    <div class="modal-content">
    <div class="business-container">
      <%= image_tag asset_path "business/intro-01.jpg", type: :image %>
    </div></div></div>
  </div>
  <div class="modal fade" id="modal_service_2" tabindex="-1" data-dismiss="modal" role="dialog">
    <div class="modal-dialog modal-lg" data-dismiss="modal">
    <div class="modal-content">
    <div class="business-container">
      <%= image_tag asset_path "business/intro-02.jpg", type: :image %>
    </div></div></div>
  </div>
  <div class="modal fade" id="modal_service_3" tabindex="-1" data-dismiss="modal" role="dialog">
    <div class="modal-dialog" data-dismiss="modal">
    <div class="modal-content">
    <div class="business-container">
      <%= image_tag asset_path "business/intro-03.jpg", type: :image %>
    </div></div></div>
  </div>
  <div class="modal fade" id="modal_service_4" tabindex="-1" data-dismiss="modal" role="dialog">
    <div class="modal-dialog" data-dismiss="modal">
    <div class="modal-content">
    <div class="business-container">
      <%= image_tag asset_path "business/intro-04.jpg", type: :image %>
    </div></div></div>
  </div>

</div>

<div id="services" class="section gray">
  <div class="container">

    <div class="content">
      <div class="text-center">
        <h2 class="title">专业的跨平台移动服务</h2>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-12"></div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <p class="description">专注于企业的技术支持，让您驻足在高新技术的顶峰。 秉承高效服务，先进技术支持，让每个客户满意于我们的服务，得意于我们的技术，为您提供快捷优质的全新体验！真正做到你的想法，我实现！
            </p>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12"></div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">

        <a data-toggle="modal" href="#modal_service_1">
          <div class="service">
            <div class="icon-wrapper">
              <span class="circle"><i class="ion-ios7-lightbulb"></i></span>
            </div>
            <h3>APP定制开发</h3>
            <p>我们拥有全球领先的跨平台APP开发技术以及多年的APP开发经验。以优秀的创意和高效的执行能力给客户带来最大的利益是我们的宗旨。</p>
          </div>
        </a>

        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">

        <a data-toggle="modal" href="#modal_service_2">
          <div class="service">
            <div class="icon-wrapper">
              <span class="circle"><i class="fa fa-rocket"></i></span>
            </div>
            <h3>微信公共平台定制开发</h3>
            <p>意得捷优为您提供最贴身的最时尚的微信公共平台定制服务，自主研发的HTML5+JS微网页开发技术给您的企业带来最有创意和最绚丽的微信公共平台应用。</p>
          </div>
        </a>

        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">

        <a data-toggle="modal" href="#modal_service_3">
          <div class="service">
            <div class="icon-wrapper">
              <span class="circle"><i class="ion-film-marker"></i></span>
            </div>
            <h3>技术咨询与技术培训</h3>
            <p>由来自于不同国籍的工程师组成的技术团队能给您的企业带来最专业的技术服务和解决方案。 </p>
          </div>
        </a>

        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">

        <a data-toggle="modal" href="#modal_service_4">
          <div class="service">
            <div class="icon-wrapper">
              <span class="circle"><i class="ion-thumbsup"></i></span>
            </div>
            <h3>新媒体营销</h3>
            <p>怎么让微信，微博，App这些新媒体工具给自己的企业带来最大的利益呢? 这就是我们的专业团队能帮助您解决的问题。</p>
          </div>
        </a>
        </div>
      </div>
    </div><!-- /.content -->
  </div>
</div>

<% content_for :bodyhtml do %>
<script>
<!--
$(document).on('show.bs.modal', '.modal', function () {

  var modal = $(this);

  modal.find('.modal-dialog').click(function() {
    modal.modal('hide');
  });
});
// -->
</script>
<% end %>
