<% @pagesettings = Setting.where(pagename: controller.action_name).first %>

<% content_for :title do %>
  <%= @pagesettings.title %>
<% end %>
<% content_for :headhtml do %>
  <%= @pagesettings.headhtml.html_safe %>
<% end %>
<% content_for :bodyhtml do %>
  <%= h @pagesettings.bodyhtml.html_safe %>
<% end %>
<% content_for :author do %>
  <%= @pagesettings.author %>
<% end %>
<% content_for :description do %>
  <%= @pagesettings.description %>
<% end %>

<% content_for :keyword do %>
  <%= @pagesettings.keyword %>
<% end %>