<div id="clients" class="section dark">
     <div class="parallax"><!--<img src="/assets/partners-2.jpg">--></div>

     <div class="container">

       <div class="content">

         <div class="text-center">
           <h2 class="title"><%= t :partener %></h2><br>
         </div>

         <div class="row">

           <div class="col-md-2 col-sm-2 col-xs-12"></div>
           <div class="col-md-8 col-sm-8 col-xs-12">
             <p class="description"><%=t :partener_desc %>
             </p>
           </div>
           <div class="col-md-2 col-sm-2 col-xs-12"></div>

         </div>

       </div> <!-- /content -->

       <div id="partners-carousel" class="carousel slide" data-ride="carousel">

         <!-- Wrapper for slides -->
         <div class="carousel-inner">

          <% last = @parteners.length - 1 %>
          <% @parteners.each_with_index do | p, i | %>
             <% if ((i +1)  % 4) == 1 %>
              <div class="item <%= "active" if i == 0 %>">
                <ul class="row">
             <% end -%>
              <li class="col-md-3 col-sm-6 col-xs-12">
                <% if not p.link.nil? and p.link.length > 5 %>
                  <a href="<%= p.link %>" class="thumbnail partner-link" target="_blank">
                <% else %>
                  <a href="javascript:;" class="thumbnail partner-link">
                <% end %>
                  <div class="partner-image" style="background-image: url('<%= p.logo.url(:original) %>');">
                    <img src="<%= p.logo.url(:original) %>" alt="<%= p.name %>">
                  </div>
                 </a>
               </li>

            <% if ((i+1) % 4 )== 0 or i == last %>
                </ul>
              </div>
             <% end -%>
          <% end -%>
         </div>

         <!-- Controls -->
         <a id="partners-carousel-prev" class="left carousel-control" href="#partners-carousel" role="button" data-slide="prev">
           <i class="fa fa-angle-left"></i>
         </a>
         <a id="partners-carousel-next" class="right carousel-control" href="#partners-carousel" role="button" data-slide="next">
           <i class="fa fa-angle-right"></i>
         </a>

       </div>


     </div>
   </div>

<% content_for :bodyhtml do %>
<script>
<!--
$(document).ready(function() {

  var $carousel = $('#partners-carousel');

  $('#partners-carousel-prev').click(function() {
    $carousel.carousel('prev');
  });

  $('#partners-carousel-next').click(function() {
    $carousel.carousel('next');
  });

});
// -->
</script>
<% end %>