<!-- All Page Modals -->
<div class="modals">

  <% @showcases.each_with_index do | sc, i | %>
      <div class="modal fade modal-portfolio" id="modal<%= (i+1)%>" tabindex="-1" data-dismiss="modal" role="dialog">
        <div class="modal-dialog modal-lg"><div class="modal-content">
          <%= render "#{sc.sctype}_partiel", sc: sc %>
        </div></div><!-- /.content -->
      </div><!-- /.modal -->
  <% end -%>
</div><!-- /.modals -->

<!-- All Font Showcase -->
<div id="portfolio" class="section gray">
  <div class="container">
    <div class="content">
      <div class="text-center">
        <h2 class="title"><%=t :portfolios %></h2>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-12"></div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <p class="description"><%=t :portfolios_desc %>
            </p>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12"></div>
      </div>

    </div><!-- /.content -->

    <div id="grid" class="row masonry-grid effect-2">
     <% @showcases.each_with_index do | sc, i | %>
        <li class="col-md-4 col-sm-4 col-xs-12 item">
        <a data-toggle="modal" href="#modal<%= (i + 1) %>" class="image">
          <img src="<%= sc.fontimg.url(:original) %>" alt="<%= sc.title %>">
          <span class="overlay"><span class="valign"></span><i class="ion-ios7-search"></i></span>
        </a>
        <div class="description">
          <h2><%= sc.title %></h2>
          <p><%= sc.short_description %></p>
          <div class="clearfix"></div>
        </div>
        </li>
      <% end -%>

    </div>
  </div>

</div><!-- /.container -->

<% content_for :bodyhtml do %>
<script>
<!--
$(document).on('show.bs.modal', '.modal', function () {

  var modal = $(this);

  modal.find('.wrapper').click(function() {
    modal.modal('hide');
  });
});
// -->
</script>
<% end %>
