
<!-- Meet the Team Section -->
<div id="team" class="section dark">
  <div class="parallax"><%= image_tag "office.jpg" %></div>
  <div class="container">
    <div class="content">
      <div class="text-center">
        <h2 class="title"><%= t(:meet_the_team) %></h2>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-12"></div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <p class="description"><%=t :team_desc %>
            </p>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12"></div>
      </div>

      <div class="row">

        <% @team.each do | member | %>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="wrapper">
            <a href="#mailform" class="portrait-wrapper scroll">
              <img class="portrait" src="<%= member.photo.url(:original)%>">
              <span class="overlay"><span class="valign"></span><i class="ion-ios7-email"></i></span>
            </a>
            <div class="text-center">
              <h3><%= member.name %></h3>
              <p><%= member.position %></p>
            </div>
          </div>
        </div>
        <% end -%>
      </div>

    </div><!-- /.content -->
  </div>
</div>
