<div class="modal-website">
    <div class="row">
        <div class="col-md-3 infos" data-dismiss="modal">
            <p class="title" data-dismiss="modal"><%= sc.title %></p>
            <p class="subtitle" data-dismiss="modal"><%= sc.subtitle %></p>
            <p class="description" data-dismiss="modal"><%= sc.description %></p>
            <p class="link">
            <% if not sc.link.nil? and sc.link.length > 5 %>
                <a href="<%= sc.link %>" type="button" class="btn btn-preview-link">实例链接</a>
            <% end %>
            </p>
        </div>
        <div class="col-md-9 preview" data-dismiss="modal">
            <div class="macbook"></div>
            <div class="screen" style="background-image: url(<%= sc.detail_img.url(:website) %>);"></div>
            <img src="<%= asset_path "macbook-modal.png", type: :image %>" style="visibility: hidden;">
        </div>
    </div>
</div>