<%= render 'page_settings' %>
<%= render 'navbar' %>
<%= render 'main_section' %>
<%= render 'our_business' %>
<%= render 'partners' %>
<%= render 'portfolios' %>
<%= render 'team' %>
<%= render 'contact' %>
<%= render 'footer' %>


