<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Email from <%= @user %></h1>
    <p>
       Email : <%=  @mail %><br>
       Body : <br> <%=  @body %>
    </p>
  </body>
</html>
