@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("<%= asset_path "zhcz-_WihjSQC0oHJ9TCYFQlYEbsez9cZjKsNMjLOwM.eot", type: :font %>");
  src: local('Montserrat-Regular'),
    url("<%= asset_path "zhcz-_WihjSQC0oHJ9TCYFQlYEbsez9cZjKsNMjLOwM.eot", type: :font %>") format('embedded-opentype'),
    url("<%= asset_path "zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff", type: :font %>") format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'),
    url("<%= asset_path "kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff", type: :font %>") format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
    url("<%= asset_path "qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff", type: :font %>") format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("<%= asset_path "nQhiC-wSiJx0pvEuJl8d8A.eot", type: :font %>");
  src: local('Lato Regular'), local('Lato-Regular'),
    url("<%= asset_path "nQhiC-wSiJx0pvEuJl8d8A.eot", type: :font %>") format('embedded-opentype'),
    /* http://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff*/
    url("<%= asset_path "9k-RPmcnxYEPm8CNFsH2gg.woff", type: :font %>") format('woff');
}