.modal-website {
    padding: 20px;
    background-color: #f1f1f1;
    max-width: 1200px;
    max-height: 100%;
    min-height: 100%;
    color: #383838;
    font-size: 30px;
    overflow: hidden;
}

.modal-website .row {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.modal-website .preview {
    height: 100%;
}

.modal-website .macbook {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('<%= asset_path "macbook-modal.png", type: :image %>');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 2;
}

.modal-title {
    z-index: 3;
}

.modal-website .screen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: scale(0.706) translate3d(0%, -7%, 0);
    -webkit-transform: scale(0.706) translate3d(0%, -7%, 0);
    -ms-transform: scale(0.706) translate3d(0%, -7%, 0);
    -moz-transform: scale(0.706) translate3d(0%, -7%, 0);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.modal-website .infos {
    padding-left: 30px;
}

.modal-website .title {
    color: #383838;
    font-size: 100%;
    margin-bottom: 0px;
}

.modal-website .subtitle {
    color: #383838;
    font-size: 90%;
    margin-bottom: 0px;
}

.modal-website .description {
    color: #383838;
    font-size: 70%;
    margin-bottom: 20px;
    padding-top: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-preview-link {
    border-radius: 10px;
    padding: 8px 25px;
    font-size: 15px;
    color: #383838 !important;
    border-color: #64a7db !important;
}

.btn-preview-link:hover {
    color: #fff !important;
    background-color: #64a7db !important;
    border-color: #64a7db !important;
}

@media (max-width: 400px) {
    .modal-website {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .modal-website .infos {
        padding-top: 60px;
    }
}

@media (max-width: 767px) {
    .modal .wrapper {
        max-width: 100%;
    }
}