.modal-app {
    padding: 20px;
    background-color: #f1f1f1;
    max-width: 1200px;
    max-height: 100%;
    min-height: 100%;
    color: #383838;
    font-size: 30px;
    overflow: hidden;
}

.modal-app .row {
    border: 1px solid rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.modal-app .infos {
    display: table;
    table-layout: fixed;
    height: 100%;
}

.modal-app .infos .center-verticaly {
    display:table-cell;
    vertical-align:middle;
    xtext-align:center;
}

.modal-app .preview {
    height: 100%;
}

.modal-app img {
    max-height: 80%;
}

.modal-app .wireframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('<%= asset_path "iphone.png", type: :image %>');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 2;
}

.modal-app .background-wireframe {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    opacity: 0.8;
    top: -14%;
    left: -6%;
}

.modal-app .screen {
    position: absolute;
    width: 106%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transform: scale(0.706) translate3d(-3.5%, 0.5%, 0);
    -webkit-transform: scale(0.706) translate3d(-3.5%, 0.5%, 0);
    -ms-transform: scale(0.706) translate3d(-3.5%, 0.5%, 0);
    -moz-transform: scale(0.706) translate3d(-3.5%, 0.5%, 0);
/*    transform: scale(0.706) translate3d(0.3%, 0.5%, 0);
    -webkit-transform: scale(0.706) translate3d(0.3%, 0.5%, 0);
    -ms-transform: scale(0.706) translate3d(0.3%, 0.5%, 0);
    -moz-transform: scale(0.706) translate3d(0.3%, 0.5%, 0);*/
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.modal-app .infos {
    padding-left: 30px;
}

.modal-app .title {
    color: #383838;
    font-size: 100%;
    margin-bottom: 0px;
}

.modal-app .subtitle {
    color: #383838;
    font-size: 90%;
    margin-bottom: 0px;
}

.modal-app .description {
    color: #383838;
    font-size: 70%;
    margin-bottom: 20px;
    padding-top: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.btn-preview-link {
    border-radius: 10px;
    padding: 8px 25px;
    font-size: 15px;
    color: #383838 !important;
    border-color: #64a7db !important;
}

.btn-preview-link:hover {
    color: #fff !important;
    background-color: #64a7db !important;
    border-color: #64a7db !important;
}

@media (max-width: 400px) {
    .modal-app {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .modal-app .infos {
        padding-top: 60px;
    }
}

@media (max-width: 991px) {
    .modal-app img {
        max-height: 50%;
    }

    .modal-app .infos {
        padding-top: 20px;
    }
}

@media (max-width: 767px) {
    .modal .wrapper {
        max-width: 100%;
    }
}