<!DOCTYPE html>
<html lang="en">
  <head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta name="description" content="<%= yield :description %>">
    <meta name="keywords" content="<%= yield :keyword %>" />
    <meta name="author" content="<%= yield :author %>">

    <title><%= yield :title %></title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">

    <!--[if lt IE 9]>
      <script src="/assets/respond.min.js"></script>
    <![endif]-->

    <!-- Montserrat Sans -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Montserrat:400, 700' rel='stylesheet' type='text/css'>-->
    <!-- Lato Font -->
    <!--<link href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>-->

    <%= yield :headhtml %>

  </head>

  <body class="blue">
    <%= yield %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <script src="http://webapi.amap.com/maps?v=1.2&key=2a27af19d2466d650d065db5423efd74" type="text/javascript"></script>

      <%= yield :bodyhtml %>
    <svg id="svg-image-blur">
        <filter id="blur-effect">
            <feGaussianBlur stdDeviation="3" />
        </filter>
    </svg>
  </body>



</html>

